@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    background-image: url("/resources/images/ttcafromabove.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 47em;
    display: flex;
}

header{
    display: flex;
    background-color: rgba(255,255,255,75%);
    position: fixed;
    width: 99%;
}
header img{
    display: flex;
    justify-content: left;
    height: 7em;
    width: 7em;
    margin-left: 1em;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7em;
    width: 100%;
}

header nav p{
    margin: 0em 1em;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    width: 99%;
    height: 35em;
}

#welcomeContainer{
    display: flex;
    flex-wrap: wrap;
    width: 50em;
    justify-content: center;
    margin-top: 10em;
}

#welcomeContainer h1{
    font-family: 'Great Vibes', cursive;
    font-size: 6em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#welcomeContainer h2{
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
}