header h1{
    font-size: 3em;
    color: white;
    text-align: center;
}

body{
    background-image: url("../../pictures/space.jpg");
    background-repeat: repeat;
}


 /*Nav bar*/

 
nav ul{
  list-style-type: none;
  margin-left: 25%;
  margin-right: 25%;
  overflow: hidden;
  background-color: white;
  padding: 0;
}

nav ul li {
    float: left;
    background-color: black;
    border: .08em solid blue;
}

nav ul li a {
  display: block;
  font-size: 30px;
  color: green;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  text-shadow: -1px 1px black;
}

nav ul li a:hover{
    background-color: gray;
}

.active{
    background-color: purple;
}


/*Formatting classes*/


.large{
    font-size: 28px;
}

.white{
    color: white;
}